@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TT Interfaces; /* Гарнитура шрифта */
  src: url("./assets/fonts/FontsFree-Net-TTInterfaces-Regular.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Georgia; /* Гарнитура шрифта */
  src: url("./assets/fonts/Georgia.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: TT Interfaces Bold;
  src: url("./assets/fonts/FontsFree-Net-TTInterfaces-Bold.ttf");
}